@media (prefers-color-scheme: light) {
    body {
        background-color: hsl(60, 30%, 90%);
    }
}

@media (prefers-color-scheme: dark) {
    header img, footer img {
        filter: invert(100%);
    }
}

body {
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.6;
}

* {
    font-family: system-ui, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    line-height: 1.2;
}

header {
    margin: 0 0 2em 0;
    text-align: center;
}
header img {
    width: 300px;
}

th, td {
    padding: 0.2em 0.5em;
}

footer {
    margin: 3em 0 0 0;
    text-align: center;
}
footer a {
    padding: 0 1em;
}
footer img {
    width: 36px;
}
