layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="shell" {
    pane command="nix" close_on_exit=false {
      args "develop" "--command" "zsh";
    }
  }
  tab name="vim" focus=true {
    pane command="nix" close_on_exit=false {
      args "develop" "--command" "nvim";
    }
  }
  tab name="git" {
    pane command="nix" close_on_exit=false {
      args "develop" "--command" "lazygit";
    }
  }
  tab name="proc" {
    pane command="nix" close_on_exit=false {
      args "develop" "--command" "processes";
    }
  }
}
