<fieldset class="dates">
  <legend>Duid aan op welke dagen je beschikbaar bent:</legend>
  <label>
    <input type="checkbox" name="date1" value="09/01/2026 18:00" />
    Vrijdag 9 januari om 18u
  </label>
  <label>
    <input type="checkbox" name="date2" value="10/01/2026 14:00" />
    Zaterdag 10 januari om 14u
  </label>
  <label>
    <input type="checkbox" name="date3" value="23/01/2026 18:00" />
    Vrijdag 23 januari om 18u
  </label>
  <label>
    <input type="checkbox" name="date4" value="24/01/2026 14:00" />
    Zaterdag 24 januari om 14u
  </label>
  <label>
    <input type="checkbox" name="date5" value="06/02/2026 18:00" />
    Vrijdag 6 februari om 18u
  </label>
  <label>
    <input type="checkbox" name="date6" value="07/02/2026 14:00" />
    Zaterdag 7 februari om 14u
  </label>
  <label>
    <input type="checkbox" name="date7" value="20/02/2026 18:00" />
    Vrijdag 20 februari om 18u
  </label>
  <label>
    <input type="checkbox" name="date8" value="21/02/2026 14:00" />
    Zaterdag 21 februari om 14u
  </label>
</fieldset>
